body{
    background-color: aqua;
    margin:auto;
    border:0px;
    text-align: center;
    width: 90%;
    max-width: 1200px;
    

}
footer{
    margin:40px;
}
label{
    width: 75px;
    height: 20px;    

}
button{
    background-color: blue;
    width: 100px;
    height: 30px;
    margin:20px;
    
}
div,nav{

     }
.text{
    
     }
nav{
    background-color: aqua;


    }
